@page
@model RecipeDictionarySite.Pages.PracticePages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Recipe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Recipe.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Recipe.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Recipe.ImageURL)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Recipe.ImageURL)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Recipe.TimeToCook)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Recipe.TimeToCook)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Recipe.NumHit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Recipe.NumHit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Recipe.Ingredients)
        </dt>
        <dd>
            <form method="post">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var ingredient in Model.Recipe.Ingredients)
                        {
                        <tr>
                            <td>@ingredient.IngredientID</td>
                            <td>@ingredient.IngredientName</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </form>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Recipe.PreparationSteps)
        </dt>
        <dd>
            <form method="post">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var step in Model.Recipe.PreparationSteps)
                        {
                            <tr>
                                <td>@step.PreparationStepID</td>
                                <td>@step.StepText</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </form>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Recipe.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
